.listing {
  font-size: 1.2rem;
  color: rgb(18, 18, 18);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  position: relative;
}

.title {
  font-size: 2rem;
}

.price {
  font-size: 1.6rem;
}

.condition,
.type {
  color: rgb(15, 15, 15);
}

.links {
  display: flex;
  gap: 1rem;
}

.link {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  background: #ffeeee;
  text-decoration: none;
  font-weight: 500;
  color: rgb(18, 18, 18);
}

.seller {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #ffeeee;
  padding: 1rem;
  /* border-radius: 10px; */
  text-decoration: none;
  color: rgb(18, 18, 18);
}

@media (min-width: 960px) {
  .seller {
    position: absolute;
    top: 0;
    right: 1rem;
  }
}

.seller h3 {
  font-size: 1rem;
}

.seller p {
  font-size: 0.9rem;
}
