.form {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 0.25rem 0.5rem;
}

.form-group textarea {
  resize: vertical;
  min-height: 200px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.row > div {
  width: 100%;
}
