.listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.listing {
  padding: 1rem;
  border-bottom: 8px solid #ffeeee;
  background: hsl(0, 0%, 98%);
  text-decoration: none;
  color: rgb(18, 18, 18);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.2rem;
}

.price {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: right;
  margin-top: auto;
}

.type span,
.condition span {
  font-weight: 700;
}

.seller {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #ffeeee;
  padding: 1rem;
  /* border-radius: 10px; */
  text-decoration: none;
  color: rgb(18, 18, 18);
}

.seller h3 {
  font-size: 1rem;
}

.seller p {
  font-size: 0.9rem;
}
