.hero,
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  position: relative;
  color: rgb(18, 18, 18);
}

.hero h2 {
  font-size: 1.6rem;
}

.hero a {
  font-size: 1.2rem;
}

.hero p {
  font-size: 1.1rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  display: inline-block;
  padding: 0.75em;
  background: #ffeeee;
  color: rgb(18, 18, 18);
  font-weight: 500;
  text-decoration: none;
}

.patty {
  width: 75px;
}

.avery {
  width: 125px;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .patty {
    width: 125px;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }

  .avery {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 175px;
    margin: 0;
  }
}

.services {
  display: grid;
  place-content: center;
  gap: 5rem;
  position: relative;
  color: rgb(18, 18, 18);
}

.service {
  text-align: center;
}

.service h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.service p {
  font-size: 1.2rem;
  line-height: 1.5;
}
