.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.notfound a {
  color: #7b65ad;
  font-weight: 500;
}

.francis {
  width: 150px;
}

@media (min-width: 960px) {
  .francis {
    position: absolute;
    right: 1rem;
    top: 2rem;
  }
}
