.header {
  padding: 1rem 0;
  position: relative;
  background-color: #ffeeee;
  color: rgb(18, 18, 18);
  z-index: 999;
}

.title {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
  color: rgb(18, 18, 18);
}

/* Header wrapper */
.container-row {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
