.nav {
  display: none;
  position: absolute;
  background: #ffeeee;
  left: 0;
  right: 0;
  top: 100%;
}

.nav > ul {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;

  display: flex;
  padding: 1.5rem 0;
  flex-direction: column;
  gap: 10px;
}

.nav a,
.nav button {
  color: rgb(18, 18, 18);
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms ease;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.nav--visible {
  display: block;
  background: #ffeeee;
}

.nav a:hover,
.nav button:hover {
  color: rgb(18, 18, 18);
  border-bottom: 2px solid rgb(18, 18, 18);
}

@media (min-width: 720px) {
  .nav {
    display: block;
    position: relative;
    background: none;
  }
  .nav > ul {
    flex-direction: row;
    width: unset;
    padding: 0;
    gap: 2rem;
  }
  .nav a,
  .nav button {
    color: rgb(18, 18, 18);
    font-weight: 500;
    transition: border-bottom 250ms ease;
  }
  .nav a:hover,
  .nav button:hover {
    color: unset;
  }
}
