.page {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  /* border: 3px solid red; */
  padding-block: 4rem;
}

.page-fluid {
  width: 100%;
}

.page,
.page-fluid {
  position: relative;
}

.page:first-of-type {
  min-height: calc(100vh - 68px);
}

.page:not(:first-of-type) {
  min-height: 100vh;
}

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.page > *:first-child:not(header) {
  height: 80vh;
}
